:root {
    --headers: rgb(73, 236, 220);
    --white: antiquewhite;
    --heliotrope: #e866ec;
    --grey: rgb(85, 85, 85);
}

body {
    background-color: var(--grey);
    position: relative;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--headers);
    font-size: 36px;
}

main {
    display: grid;
    gap: 2rem;
    max-width: 95vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50%;
    align-content: center;
    margin-left: 20px;
    margin-right: 10px;
    place-content: center space-evenly;
    position: relative;
    margin-top: 20px;
}

figure {
    border: 3px dotted var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

.intro {
    margin: 20px 40px;
    color: var(--white);
    font-size: 16px;
    padding: 10px;
    margin-bottom: 40px;
}

.content {
    font-size: 14px;
    margin: 5px;
    color: var(--headers);
    text-align: left;
}

.card-header {
    color: var(--headers);
    text-align: center;
    margin-top: -17px;
    border: 3px solid var(--white);
    background-color: var(--grey);
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
}

.snippet {
    font-size: 16px;
    margin: 10px;
    color: var(--white);
}

.code-card {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
      );
    height: 100%;
    width: auto;
    padding: 1.2rem 1rem;
    tab-size: 4;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.code-card pre:active {
    user-select: all;
}

.code-card:hover, .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.row-one {
    height: 50%;
}

.row-two {
    height: 100%;
}

@media screen and (max-width: 992px) {
    main {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
}

